<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>592800011102-2d94po8vm83dqb2rke8gpmvn3sjcfo8l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.592800011102-2d94po8vm83dqb2rke8gpmvn3sjcfo8l</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>592800011102-h5chsknit3aopoq2m5m6b5t69f792n14.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC6nmvhtmH6BhNMUTTX3ivPUVmvSxgKw1M</string>
	<key>GCM_SENDER_ID</key>
	<string>592800011102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.phsartech.yeaksa-franchise</string>
	<key>PROJECT_ID</key>
	<string>franchee-app</string>
	<key>STORAGE_BUCKET</key>
	<string>franchee-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:592800011102:ios:ed918ef2093fbba06c75cf</string>
</dict>
</plist>